[Unit]
Description=smev-core Json2xml
PartOf=smev-core-chainer.service
After=syslog.target
After=network.target
After=smev-core.service
After=smev-core-chainer.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/smev-core/json2xml
ExecStart=/opt/smev-core/json2xml/.virtualenv/bin/uvicorn server:app --host 127.0.0.1 --port 5001 --log-config /opt/smev-core/json2xml/log-config.yaml

[Install]
WantedBy=multi-user.target